<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostgreGET</title>
</head>
<body>
    <form action="/submit" method="POST">
        <h3>
            Total Score:
            <span>
                <%= locals.totalScore ? totalScore : "0"%>
            </span>
        </h3>
        <h1 id = "countryName">
            <%= question.country %>
        </h1>
        <input type="text" name="answer">
        <button type="submit">ANSWER</button>
    </form>
</body>
</html>