<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tags</title>
</head>

<body>
    <%= title %>
        <% console.log(seconds) %>
            <%- htmlContent %>
                <ul>
                    <% items.forEach(element=> { %>
                        <li>
                            <%= element %>
                        </li>
                        <% }); %>
                </ul>
</body>

</html>